#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url("https://cdn.jsdelivr.net/gh/blogimg/picbed@master/2020/04/11/83968b7d177c636fbd78242efe45f275.png");
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}